@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">運動紀錄</h1>
    <p>
        <h4>運動333原則</h4><strong>每周運動3次， 每次最少30分鐘 ， 運動時讓心跳達到130下/每分鐘</strong>！<br />
        <a href="https://www.fitness.org.tw/boss.php" target="_blank">認識運動333</a>
    </p>
</div>
